<div class="patent-content">
  <div class="title row">
    <h3>大家都在赞</h3>
  </div>
  <div>
    <ul class="patent-list">
      <li class="patent-row">
        <a href="#" class="patent-cover">
          <img src="assets/images/24543438.webp" class="images">
          <div class="patent-desc">
            <h3>时光列车你慢点走</h3>
            <img src="assets/images/1.png">
            <span>陌陌被打晕的小狼</span>
          </div>
        </a>
        <a href="#" class="patent-cover">
          <img src="assets/images/24544755.webp" class="images">
          <div class="patent-desc">
            <h3>时光列车你慢点走</h3>
            <img src="assets/images/1.png">
            <span>陌陌被打晕的小狼</span>
          </div>
        </a>
        <a href="#" class="patent-cover">
          <img src="assets/images/28922359.webp" class="images">
          <div class="patent-desc">
            <h3>时光列车你慢点走</h3>
            <img src="assets/images/1.png">
            <span>陌陌被打晕的小狼</span>
          </div>
        </a>
      </li>
      <li class="patent-row" style="height: 295px;">
        <a href="#" class="patent-cover" style="height: 295px;">
          <img src="assets/images/16356650.webp" class="images" style="height: 295px;">
          <div class="patent-desc">
            <h3>时光列车你慢点走</h3>
            <img src="assets/images/1.png">
            <span>陌陌被打晕的小狼</span>
          </div>
        </a>
        <a href="#" class="patent-cover" style="height: 295px;">
          <img src="assets/images/28922423.webp" class="images" style="height: 295px;">
          <div class="patent-desc">
            <h3>时光列车你慢点走</h3>
            <img src="assets/images/1.png">
            <span>陌陌被打晕的小狼</span>
          </div>
        </a>
        <a href="#" class="patent-cover" style="height: 295px;">
          <img src="assets/images/25065048.webp" class="images" style="height: 295px;">
          <div class="patent-desc">
            <h3>时光列车你慢点走</h3>
            <img src="assets/images/1.png">
            <span>陌陌被打晕的小狼</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
