.top{
  text-align: center;
  margin:50px auto;
  height: 670px;
}

.top .bottom{
  bottom: -40px;
}

.top .bottom li{
  border: 2px solid rgb(120,120,120);
  width: 20px;
}

.top .bottom .active{
  border: none;
  background: rgb(120,120,120);
}

.carousel-left{
  float: left;
  left: 0;
  margin-top: -335px;
  position: relative;
}

.carousel-left img{
  width: 50px;
  height: 86px;
  color: #fff;
}

.carousel-left img:hover{
  background-color: rgba(0,0,0,.5);
}

.carousel-right{
  float: right;
  right: 0;
  margin-top: -335px;
  position: relative;
}

.carousel-right img{
  width: 50px;
  height: 86px;
  color: #fff;
}

.carousel-right img:hover{
  background-color: rgba(0,0,0,.5);
}
