<div class="first-module">
  <div class="pane row">
    <div class="panel-title"><h3>官宣</h3></div>
    <div class="panel-body declaration">
      <div class="declaration-image pull-left">
        <img src="assets/images/timthumb.jpg">
      </div>
      <div class="declaration-title pull-left">
        <a href="#" style="color:black;"><h3><strong>某活动</strong></h3></a>
      </div>
      <div class="declaration-desc pull-left">
        <h5>2017年04月01日 18:00 - 2017年04月01日 22:00</h5>
      </div>
      <span class="date row">
        <span class="day">01</span>
        <span class="month">四月</span>
        <span class="year">2017</span>
      </span>
    </div>
  </div>
</div>
